body{
	margin: 0px;
	padding: 0px;
	background-color: #ffe8df;
	font-family: 'Baloo Tamma 2', cursive;
	color: dimgray;
	width: 100%;
}

.section-title{
	margin-top: 100px;
}

.avatar{
	width: 100px;
	height: auto;
	
}
.content{
	margin-top: 50px;
}
.carousel{
	background-color: black;
	color: blanchedalmond;
	font-size: 25px;
	font-weight: 70;
	height: 300px;
	text-align: center;
}
.footer-bg{
	background-color: #f5a8a8;
	color: black;
	text-align: center;
	margin-top: 100px;
	padding-bottom: 50px;
}
.contact{
	padding-right: 5px;
}
.contact-link{
	text-decoration: none;
	color: black;
}

@media (min-width: 200px) { 
	body{
		font-size: 100px;
	} 
	.carousel {font-size: 30px;} /*1rem = 16px*/
	.avatar{
		width: 10px;
		height: auto;
		
	}
	.avatar{
		width: 30px;
		height: auto;
	}
	.content{
		font-size: 50px;
	}
	.heading{
		font-size: 60px;
	}
	.nav-brand{
		font-size: 70px;
	}
	.navbar-toggler-icon {
		width: 3em;
		height: 3em;
	}
	.nav-child{
		font-size: 60px;
	}
  }
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) { 
	.nav-brand{
		font-size: 70px;
	} 
	.navbar-toggler-icon {
		width: 3em;
		height: 3em;
	}
	.carousel {font-size: 55px;} /*1rem = 16px*/
	.content{
		font-size: 50px;
	}
	.avatar{
		width: 30px;
		height: auto;
	}
	.contact-content{
		font-size: 37px;
		text-align: center;
	}
	.heading{
	font-size: 60px;
	}
	.nav-child{
		font-size: 60px;
	}
  }
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
	.carousel {font-size: 55px;} /*1rem = 16px*/
	.content{
		font-size: 55px;
	}
	.contact-content{
		font-size: 37px;
	}
	.nav-brand{
		font-size: 70px;
	}
	.nav-child{
		font-size: 60px;
	}
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
	.carousel {font-size: 70px;} /*1rem = 16px*/
	.content{
		font-size: 20px;
	}
	.nav-brand{
		font-size: 20px;
	}
	.nav-child{
		font-size: 18px;
	}
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
	 /*1rem = 16px*/   
	 .content{
		font-size: 16px;
	}
	.nav-brand{
		font-size: 20px;
	}
	.nav-child{
		font-size: 18px;
	}
	.contact-content{

	}
  }
  
